.table tbody tr > td.Morning{
  background-color: #dff0d8 !important;
}
.table tbody tr > td.weekend{
  background-color: #f2dede !important;
}
.table tbody tr > td.Normal{
  background-color: #fcf8e3 !important;
}
.table tbody tr > td.Late{
  background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.Morning{
  background-color: #dff0d8 !important;
}
.table-hover tbody tr:hover  > td.weekend{
  background-color: #f2dede !important;
}
.table-hover tbody tr:hover > td.Normal{
  background-color: #fcf8e3 !important;
}
.table-hover tbody tr:hover  > td.Late{
  background-color: #d9edf7 !important;
}

.btn.Morning {
  background-color: #dff0d8;
  border-color: transparent;
  color: #333333;
}

.btn.weekend {
  background-color: #f2dede;
  border-color: transparent;
  color: #333333;
}

.btn.Normal {
  background-color: #fcf8e3;
  border-color: transparent;
  color: #333333;
}

.btn.Late {
  background-color: #d9edf7;
  border-color: transparent;
  color: #333333;
}